<div class="jumbotron mt-4">
	<h1 class="display-4">Notes App NodeJS</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna ali.</p>
	<a href="" class="btn btn-primary btn-lg">Chesco</a>
</div>